.register.page {
  height: calc(100vh - 180px);
}
.register.page.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.register.page > .row > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.register.page img {
  width: 80%;
}

.register .register-form {
  padding: 10%;
  margin-top: 10%;
}

#trading-day {
  text-transform: capitalize;
}

.confirm-details p {
  margin: 0px;
}

.confirm-details .col-4 span {
  font-weight: 600;
}
.confirm-details .card {
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: rgba(29, 24, 24, 0.24) 0px 3px 8px !important;
}

.confirm-details .card .col:nth-child(1) {
  padding-right: 0px;
}
.confirm-details .card .col:nth-child(2) {
  padding-right: 0px;
  /* padding-left: 0px; */
}

.confirm-details .card .col-4 {
  /* padding: 0 !important; */
}

.confirm-details .address-details span {
  font-weight: 0 !important;
}
/* .location {
  font-weight: 700;
} */

#registerModal img {
  width: 100%;
}

#registerModal .row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#registerModal h1 {
  font-size: 2rem;
}
#registerModal p {
  font-size: 1.2rem;
}

#registerModal .row .col {
  display: flex;
  justify-content: space-around;
}

#stepper-business {
  width: 100% !important;
  object-fit: contain !important;
}
#stepper-business h2 {
  text-align: center;
}

#stepper-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* TRADINGHOURS DETAILS */

.tradinghours-details {
  display: flex;
  justify-content: space-around;
}

.tradinghours-details legend,
.acc-details legend,
.contact-details legend,
.address-details legend,
.confirm-details legend {
  font-size: 1.5rem;
  text-align: center;
}
.time-row .col-lg-1.col-2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.trading-hours > div {
  display: flex;
  /* justify-content: center; */
  height: 50px;
  align-items: center;
  margin: 0px;
}
.trading-hours > div:nth-child(3) {
  justify-content: center;
}
/* #to {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
} */

/* LOCATION DETAILS */
/* CONTACT DETAILS */

/* ACC DETAILS */
/* SUCCESS DETAILS */
/* CONFIRM DETAILS */

@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}
@media only screen and (min-width: 600) {
}
@media only screen and (min-width: 784) {
}

@media only screen and (min-width: 1024) {
  .tradinghours-details legend,
  .acc-details legend,
  .contact-details legend,
  .address-details legend,
  .confirm-details legend {
    font-size: 1.5rem;
    text-align: center;
  }
}
@media only screen and (min-width: 1200) {
}
