.savedStores img,
.newStores img,
.popularStores img {
  height: 70px;
}

/* --------------------------------SEARCHBAR---------------------------- */

.searchBar {
  width: 40vw;
}

.form-control:focus {
  box-shadow: none;
}

.form-control-underlined {
  border-width: 0;
  border-bottom-width: 1px;
  border-radius: 0;
  padding-left: 0;
  width: 50vh;
}

/* --------------------------------------- home page */

.container.homepage .jumbotron {
  /* border: 5px violet solid; */
  text-align: center;
}

.homepage-map image {
  border: violet 5px solid;
}

#newstore {
  border: solid orange 5px;
}

/* ----------------------------- */

.savedStores img {
  border: 7px rgb(255, 255, 255) solid;
  width: 100px;
  height: 100px;
}

/* CArousel */
.carousel-item {
  width: 100%;
  padding-left: 140px;
  padding-right: 140px;
}

.carousel-control-next span {
  color: rgb(0, 0, 0) !important;
  visibility: hidden;
}
.carousel-control-next-icon {
  visibility: visible !important;
}
.carousel-control-prev-icon {
  visibility: visible !important;
}
.carousel-control-prev {
  color: red !important;
  visibility: hidden;
}
.carousel-item p {
  padding-top: 10px;
  text-overflow: ellipsis;
  max-width: 150px;
  overflow: hidden;
  white-space: nowrap;
}

.shop-card p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 175ch;
}

.shop-card {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  /* min-width: 200px; */
}

.category-pill {
  border: 1px rgb(69, 126, 32) solid;
  border-radius: 5px;
}
.category-pill p {
  color: rgb(69, 126, 32);
  text-transform: uppercase;
  font-size: 0.7rem;
}

.category-badge {
  position: absolute;
  text-transform: uppercase;
}

.map {
  border-radius: 10px;
}

.client-profile .header {
  background-color: pink;
}

.client-profile > .row:nth-child(2),
.client-profile > .row:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.client-profile > .row:nth-child(2) {
  margin-top: -50px;
  /* border: blue 25px solid; */
}

.client-profile > div:nth-child(1) {
  text-align: center;
}

.client-profile img {
  width: 10rem;
  border-radius: 50%;
  border: 10px solid rgb(225, 225, 225);
  padding: 5px;
  margin: 5px;
}

.client-profile .card {
  border: none;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  padding: 10px;
  margin: 1rem;
}

.client-profile .nav-tabs {
  border-bottom: none;
  background-color: #fff;
}
.client-profile .nav-tabs .nav-link {
  border: 0px solid transparent;
  color: black;
  width: 150px;
  height: 80px;
  font-size: 20px;
  padding: 0;
}
.client-profile .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: rgb(51, 118, 56);
  background-color: #fff;
  border-bottom: 2px solid rgb(51, 118, 56);
  border-top: none;
  border-left: none;
  border-right: none;
  max-width: 250px;
  min-width: 150px;
  padding: 0;
}

.client-profile .nav-tabs .nav-link:hover {
  color: gray;
}

.client-profile .nav-tabs {
  width: fit-content;
  padding-right: 0;
  /* box-shadow: rgba(100, 100, 111, 0.2) 20px 0px 20px 0px; */
  z-index: 1;
  border-radius: 5px 5px 0px 0px;
}
.client-profile .tab-content {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.client-profile .tab-content {
  display: flex;
}

.client-profile .tab-content > .tab-pane {
  display: block;
  visibility: hidden;
  margin-right: -100%;
  width: 100%;
  padding: 10px;
  text-align: center;
}
.client-profile .tab-content > .active {
  visibility: visible;
  border: 2px solid red;
}

.storeFav h4 {
  text-align: center;
}

.favStoreCard {
}
.favStoreBtn {
  width: fit-content;
  border-radius: 20px;
}
