.savedStores img,
.newStores img,
.popularStores img {
  height: 70px;
}

/* --------------------------------SEARCHBAR---------------------------- */

.searchBar {
  width: 40vw;
}

.form-control:focus {
  box-shadow: none;
}

.form-control-underlined {
  border-width: 0;
  border-bottom-width: 1px;
  border-radius: 0;
  padding-left: 0;
  width: 50vh;
}

/* --------------------------------------- home page */

.container.homepage .jumbotron {
  /* border: 5px violet solid; */
  text-align: center;
}

.homepage-map image {
  border: violet 5px solid;
}

#newstore {
  border: solid orange 5px;
}

/* ----------------------------- */

.savedStores img {
  border: 7px rgb(255, 255, 255) solid;
  width: 100px;
  height: 100px;
}

/* CArousel */
.carousel-item {
  width: 100%;
  padding-left: 140px;
  padding-right: 140px;
}

.carousel-control-next span {
  color: rgb(0, 0, 0) !important;
  visibility: hidden;
}
.carousel-control-next-icon {
  visibility: visible !important;
}
.carousel-control-prev-icon {
  visibility: visible !important;
}
.carousel-control-prev {
  color: red !important;
  visibility: hidden;
}
.carousel-item p {
  padding-top: 10px;
  text-overflow: ellipsis;
  max-width: 150px;
  overflow: hidden;
  white-space: nowrap;
}

.shop-card p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 175ch;
}

.shop-card {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  /* min-width: 200px; */
}

.category-pill {
  border: 1px rgb(69, 126, 32) solid;
  border-radius: 5px;
}
.category-pill p {
  color: rgb(69, 126, 32);
  text-transform: uppercase;
  font-size: 0.7rem;
}

.category-badge {
  position: absolute;
  /* bottom: 0; */
  /* right: 0; */
  text-transform: uppercase;
}

.map {
  border-radius: 10px;
}

.profile-client-img {
  width: 200px;
  height: 200px;
  border: 5px solid black;
  /* border-image-source: linear-gradient(to left, #743ad5, #d53a9d); */
}

/*  */
* {
  box-sizing: border-box;
}

/* Style the tab */
.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 30%;
  height: 300px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 70%;
  border-left: none;
  height: 300px;
}
