.dasboard_page {
  width: 30%;
}

.ag-row .ag-cell {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center;
}

#grid-ag-image {
  height: fit-content;
  border: black solid 2px;
  border-radius: 5px;
  overflow: hidden;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#grid-product-image {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.ag-row-hover {
  background-color: rgb(230, 245, 223) !important;
}
.ag-column-hover {
  background-color: #94ce89 !;
}

.table-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70vw;
  /* border: black solid 2px; */
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 15px;
  overflow: hidden;
}
.generaldata-container {
  margin-left: auto;
  margin-right: auto;
  width: 70vw;
  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
  /* border-radius: 15px; */
  overflow: hidden;
}

.product-table th {
  text-align: center;
}
.product-table td {
  text-align: center;
  vertical-align: center;
}
.product-table td:nth-child(3) {
  width: 8rem;
}
.product-table td:nth-child(7) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 25ch;
}
.product-table th:nth-child(8) {
  width: 10rem;
}

.product-table button:hover {
  transition: all 0.3s ease-in-out;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.product-table button:nth-child(1):hover {
  background-color: rgb(0, 93, 164);
  color: rgb(238, 238, 238);
}
.product-table button:nth-child(2):hover {
  background-color: rgb(192, 0, 0);
  color: rgb(238, 238, 238);
}

.stocklevel {
  text-align: center;
  background-color: #fff;
  width: 100%;
  font-weight: 600;
  border-radius: 10px;
  margin: 2px;
  padding: 0 5px;
  text-transform: capitalize;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  overflow: hidden;
}
.stocklevel[data-status="high"] {
  border: rgb(30, 110, 18) solid 2px;
}
.stocklevel[data-status="medium"] {
  border: rgb(72, 26, 255) solid 2px;
}
.stocklevel[data-status="low"] {
  border: rgb(255, 231, 48) solid 2px;
}
.stocklevel[data-status="out-of-stock"] {
  border: rgba(168, 0, 0, 1) solid 2px;
}

.updateModal img {
  width: 30%;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#dcontainer {
  display: flex;
  position: relative;
  /* width: 50%; */
  justify-content: center;
  align-items: center;
}

#image {
  opacity: 1;
  display: block;
  width: auto;
  height: 200px;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

#middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

#dcontainer:hover #image {
  opacity: 0.3;
}

#dcontainer:hover #middle {
  opacity: 1;
}

#text {
  color: rgb(92, 92, 92);
  border-radius: 50%;
  position: absolute;
  width: 100px;
  height: 100px;
  font-size: 2.5rem;
  visibility: hidden;
}
#text:hover {
  /* background: rgba(154, 154, 154, 0.447); */
  /* border: 2px solid black; */
  box-shadow: rgba(100, 100, 111, 0.8) 0px 7px 29px 0px;
}
#dcontainer:hover #text {
  visibility: visible;
}

#selectedFileInput {
  display: none;
}
#smalltext {
  font-size: 12px;
}
