@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@600&family=Work+Sans:wght@700&display=swap");
.profile_page.jumbotron {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40vh;
  overflow: hidden;
  z-index: -1;
  position: relative;
}
.jumbotron #banner,
#map {
  padding-top: 100px !important;
}
.container > div.homepage-map.jumbotron {
  overflow: hidden;
  height: 400px;
}
.header {
  z-index: 2;
  background-color: white;
}

.icon.star {
  position: absolute;
  top: 37vh;
  right: 48vh;
  cursor: pointer;
  font-size: 50px;
  opacity: 0.05;
}

#open_status {
  border: solid 2px rgb(99, 150, 23);
  width: fit-content;
  padding: 5px;
  border-radius: 3rem;
}

#open_status span {
  font-size: 1.5rem;
  color: rgb(108, 177, 85);
  margin-left: 1rem;
  margin-right: 1rem;
}

.main {
  margin-top: -10vh;
  width: 55vw;
}

.featured img {
  height: 9rem;
}

.stocklist img {
  height: 50px;
}

.Logo {
  margin-top: -10vh;
}
/* FOOTER */

footer {
  position: relative;
  bottom: 0;
  width: 100%;

  background: #eff2f9;
  padding: 50px 0px;
}
footer .footer-logo h2 {
  color: #333;
  font-weight: 600;
  font-size: 35px;
  margin-bottom: 30px;
}
footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
footer ul li {
  margin-bottom: 8px;
  font-size: 15px;
}
footer ul li a {
  color: #333;
  position: relative;
}
footer ul li a:hover {
  text-decoration: none;
}
footer ul li a:after {
  position: absolute;
  transition: ease 0.5s;
  content: "";
  left: 0px;
  width: 0%;
  height: 2px;
  background: #007bff;
  bottom: -5px;
}
footer ul li a:hover:after {
  text-decoration: none;
  display: block;
  width: 100%;
}
footer h6 {
  margin: 0px 0px 40px;
  font-weight: 600;
  z-index: 9 !important;
}

footer a {
  text-decoration: none !important;
  z-index: 9;
}

.homepage .shop,
.spend,
.eat,
.enjoy {
  font-size: 50px;
}
/* LANDING PAGE */
.landing_page {
  background-color: #94ce89;
}

.landing_page .container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px, 80px !important;
  /* box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); */
}

#landing_page .row {
  margin: 150px !important;
}

.landing_page h1 {
  font-family: "Work Sans", sans-serif;
  color: #fff;
  font-size: 100px;
}

.landing_page > .row > .col p:nth-child(1) {
  font-family: "Work Sans", sans-serif;
  color: #084426;
  text-transform: uppercase;
  font-size: 40px;
  margin-top: -35px !important;
  margin-left: 320px !important;
  margin-bottom: 30px !important;
}
.landing_page > .row > .col p:nth-child(2) {
  text-transform: uppercase;
  font-size: 20px;
}
.landing_page > .row > .col p:nth-child(3) {
  font-size: 18px;
}
.landing_page > .row > .col p:nth-child(5) {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
}
.landing_page > .row > .col p:nth-child(5):hover {
  cursor: pointer;
  filter: drop-shadow(1px 1px 3px rgb(6, 60, 24));
  color: #084426;
  transition: 0.4s;
}
.btn-explore {
  margin: 30px 0;
  border: #fff solid 5px;
  padding: 10px;
  width: fit-content;
}

#landing_background {
  transform: scaleX(-1);
  position: absolute;
  right: 10%;
  top: 10%;
  height: 80%;
  z-index: 1;
}

.navbar-top {
  height: 70px;
  background-color: #94ce89;
  transition: 0.6s;
  transition: ease-in-out;
}
.navbar-top:hover {
  background-color: #ffffff;
  -webkit-transition: background-color 0.3s ease-out;
  -moz-transition: background-color 0.3s ease-out;
  -o-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
}

.landing_page.container {
  background-color: #94ce89;
}
/* NAVBAR--------------------------------------- */
.navbar-brand {
  width: 400px;
  align-items: center;
  display: flex;
}
.navbar_icon {
  padding: 7px !important;
  background-color: #ffffff;
  margin: 15px;
  /* border: hotpink 2px solid; */
}
.navbar:hover .navbar_icon {
  background-color: #6ac77d;
}

.searchField {
  background-color: white;
  position: sticky;
  top: 1px;
  width: auto;
  max-height: 200px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  z-index: 2;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding-top: 6px;
}

.searchField::-webkit-scrollbar {
  display: none;
}

.searchCard {
  padding: 6px 12px 6px 12px;
}

.searchCard div {
  font-weight: 600;
  color: black;
}

.searchCard img {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 16px;
  margin-right: 10px;
}

.searchCard div span {
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
  font-weight: 400;
}

.searchCard div span::before {
  content: "\00B7";
  color: rgba(0, 0, 0, 0.6);
  margin: 0 3px;
}

.searchCard:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.product_list_grid {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid green;
  padding: 10px;
  width: 90vh;
  height: 50vh;
}
