@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@600&family=Work+Sans:wght@700&display=swap");

body {
  display: flex;
  flex-direction: column;
}

/* LANDING PAGE */

.landing.page {
  position: relative;
  background-color: #94ce89;
  bottom: 0;
  height: 100%;
  position: block;
  left: 0;
  width: 100%;
  overflow: hidden;
}

.landing.page .row > div:nth-child(1),
.landing.page .row > div:nth-child(2),
.landing.page .row > div:nth-child(3) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing.page img {
  margin: 0 auto;
  height: 250px;
  transform: scaleX(-1);
  filter: drop-shadow(0px 10px 15px rgb(65, 65, 65));
  z-index: 1;
}
.landing.page h1 {
  font-family: "Work Sans", sans-serif;
  color: #fff;
  font-size: 2.8rem;
  padding: 0;
  margin: 0;
  text-align: center;
}

.landing.page .main-text p {
  font-family: "Work Sans", sans-serif;
  color: #084426;
  font-size: 2.4rem;
  padding: 0;
  margin-top: -1rem !important;
}
.landing.page .description {
  text-align: center;
  display: none;
}

.landing.page #btn-landing {
  text-transform: uppercase;
  margin: 40px 0;
  width: 300px;
  z-index: 2;
  padding: 10px;
  font-size: 1.2rem;
  color: #2e5e37;
}

#wave {
  position: absolute;
  bottom: 0px;
  z-index: 1;
}

#wave1 {
  position: absolute;
  bottom: 0px;
}
#wave2 {
  position: absolute;
  bottom: 0px;
}

/* NAVBAR--------------------------------------- */

.navbar-top {
  background-color: #94ce89;
  transition: 0.6s;
  transition: ease-in-out;
  z-index: 1;
  display: flex;
  height: 70px;
}

.navbar-top .navbar-nav {
  display: flex;
  position: relative;
  align-items: center;
}

.navbar-top .navbar-nav a {
  padding: 10px;
}

.navbar-top:hover {
  background-color: #ffffff;
  -webkit-transition: background-color 0.3s ease-out;
  -moz-transition: background-color 0.3s ease-out;
  -o-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
}

.navbar-brand {
  align-items: center;
  font-weight: 700;
  display: flex;
  padding: 0;
  margin: 0;
}

#avatar {
  padding: 7px !important;
  background-color: #ffffff;
  margin-right: 1rem;
}

#navbar-icon {
  font-weight: 700;
}

/* NAVBAR END */

.searchField {
  background-color: white;
  position: sticky;
  top: 1px;
  width: auto;
  max-height: 200px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  z-index: 2;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding-top: 6px;
}

.searchField::-webkit-scrollbar {
  display: none;
}

.searchCard {
  padding: 6px 12px 6px 12px;
}

.searchCard div {
  font-weight: 600;
  color: black;
}

.searchCard img {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 16px;
  margin-right: 10px;
}

.searchCard div span {
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
  font-weight: 400;
}

.searchCard div span::before {
  content: "\00B7";
  color: rgba(0, 0, 0, 0.6);
  margin: 0 3px;
}

.searchCard:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.product_list_grid {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid green;
  padding: 10px;
  width: 90vh;
  height: 50vh;
}
/* FOOTER */
footer {
  position: absolute;
  width: 100%;
  clear: both;
  width: 100%;
  bottom: 0;
  background: #eff2f9;
  padding: 20px 0px;
  margin-top: auto;
  text-align: center;
}

footer .footer-logo h2 {
  color: #333;
  font-weight: 600;
  font-size: 35px;
  margin-bottom: 30px;
}
footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
footer ul li {
  margin-bottom: 8px;
  font-size: 15px;
}
footer ul li a {
  color: #333;
  position: relative;
}
footer ul li a:hover {
  text-decoration: none;
}
footer ul li a:after {
  position: absolute;
  transition: ease 0.5s;
  content: "";
  left: 0px;
  width: 0%;
  height: 2px;
  background: #007bff;
  bottom: -5px;
}
footer ul li a:hover:after {
  text-decoration: none;
  display: block;
  width: 100%;
}
footer h6 {
  margin: 0px 0px 40px;
  font-weight: 600;
  z-index: 9 !important;
}

footer a {
  text-decoration: none !important;
  z-index: 9;
}

#js,
#html,
#css,
#react,
#redux,
#firebase,
#leaflet,
#nodejs,
#mongodb {
  font-size: 30px;
  filter: drop-shadow(0px 3px 7px rgb(58, 58, 58));
}

#js {
  color: rgb(255, 222, 33);
}
#html {
  color: rgb(226, 109, 0);
}
#css {
  color: #0008ff;
}
#react {
  color: #1a99fa;
}
#redux {
  color: rgb(93, 55, 196);
}
#firebase {
  color: rgb(192, 100, 13);
}
#leaflet {
  color: rgb(84, 119, 32);
}
#nodejs {
  color: green;
}
#mongodb {
  color: #2e5e37;
}

#aaa {
  display: flex;
  justify-content: space-around;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .landing.page {
    background-color: #4842c9;
    display: flex;
  }

  .landing.page img {
    height: 300px;
    display: block;
  }

  .landing.page .row > div:nth-child(1),
  .landing.page .row > div:nth-child(2),
  .landing.page .row > div:nth-child(3) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .landing.page {
    padding: 30px 0;
    background-color: #4842c9;
    display: flex;
    height: 80vh;
  }

  .landing.page img {
    height: 22em;
    display: block;
  }

  .landing.page .row > div:nth-child(1),
  .landing.page .row > div:nth-child(2),
  .landing.page .row > div:nth-child(3) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .landing.page h1 {
    margin: 30px 0;
  }

  #btn-landing {
    font-family: "Work Sans", sans-serif !important;
    font-weight: 600 !important;
    margin-bottom: 20px;
  }

  footer p {
    text-align: center;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .landing.page {
    background-color: #a3a2bb;
  }

  .landing.page img {
    height: 400px;
    display: block;
  }

  .landing.page .main-text h1 {
    font-size: 4rem;
  }
  .landing.page .main-text p {
    font-size: 2.7rem;
  }

  .landing.page .row > div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .landing.page .row > div:nth-child(3) {
    left: 0;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200) {
  .navbar-top {
    height: 180px;
  }
  .landing.page {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #94ce89;
    display: flex;
    height: 70vh;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .landing.page .description p {
    font-size: 1.2rem;
    padding: 0;
    margin: 0;
  }

  .landing.page h1 {
    text-align: left;
    font-size: 10vh;
  }

  .landing.page img {
    height: 550px;
    /* display: block; */
    z-index: 2;
  }

  #btn-landing {
    margin-top: 0 !important;
    z-index: 3;
  }
}
