@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@600&family=Work+Sans:wght@700&display=swap");

html,
body {
  margin: 0;
  scroll-behavior: smooth;
  position: relative;
  min-height: calc(100vh - 3rem);
  background-color: rgb(232, 232, 232);
}
/* LANDING PAGE */

#id {
  min-height: 100vh;
  border-bottom: 2px solid red;
}

.landing {
  background-color: #94ce89;
  bottom: 0;
  height: 100%;
  left: 0;
  width: 100%;
  overflow: hidden;
  padding: 20px;
  min-height: 100%;
  margin: 0 auto -50px;
}

.landing .row > div:nth-child(1),
.landing.page .row > div:nth-child(2),
.landing.page .row > div:nth-child(3) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing img {
  margin: 0 auto;
  height: 250px;
  transform: scaleX(-1);
  filter: drop-shadow(0px 10px 15px rgb(65, 65, 65));
  z-index: 1;
}
.landing h1 {
  font-family: "Work Sans", sans-serif;
  color: #fff;
  font-size: 2.8rem;
  padding: 0;
  margin: 0;
  text-align: center;
}

.landing .main-text p {
  font-family: "Work Sans", sans-serif;
  color: #084426;
  font-size: 2.4rem;
  padding: 0;
  margin-top: -1rem !important;
}
.landing .description {
  text-align: center;
  display: none;
}

.landing #btn-landing {
  text-transform: uppercase;
  margin: 40px 0;
  width: 300px;
  z-index: 2;
  padding: 10px;
  font-size: 1.2rem;
  color: #2e5e37;
}

#wave {
  position: absolute;
  bottom: 0px;
  z-index: 1;
}

#wave1 {
  position: absolute;
  bottom: 0px;
}
#wave2 {
  position: absolute;
  bottom: 0px;
}

/* NAVBAR--------------------------------------- */

.navbar-top {
  background-color: #94ce89;
  transition: 0.6s;
  transition: ease-in-out;
  z-index: 1;
  display: flex;
  height: 70px;
}

.navbar-top .navbar-nav {
  display: flex;
  position: relative;
  align-items: center;
}

.navbar-top .navbar-nav a {
  padding: 10px;
}

.navbar-top:hover {
  background-color: #ffffff;
  -webkit-transition: background-color 0.3s ease-out;
  -moz-transition: background-color 0.3s ease-out;
  -o-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
}

.navbar-brand {
  align-items: center;
  font-weight: 700;
  display: flex;
  padding: 0;
  margin: 0;
}

#avatar {
  padding: 7px !important;
  background-color: #ffffff;
  margin-right: 1rem;
}

#navbar-icon {
  font-weight: 700;
}

/* NAVBAR END */

.searchField {
  background-color: white;
  position: sticky;
  top: 1px;
  width: auto;
  max-height: 200px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  z-index: 2;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding-top: 6px;
}

.searchField::-webkit-scrollbar {
  display: none;
}

.searchCard {
  padding: 6px 12px 6px 12px;
}

.searchCard div {
  font-weight: 600;
  color: black;
}

.searchCard img {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 16px;
  margin-right: 10px;
}

.searchCard div span {
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
  font-weight: 400;
}

.searchCard div span::before {
  content: "\00B7";
  color: rgba(0, 0, 0, 0.6);
  margin: 0 3px;
}

.searchCard:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.product_list_grid {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid green;
  padding: 10px;
  width: 90vh;
  height: 50vh;
}
/* FOOTER */

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  background: #6cf;
  padding: 15px;
}

#js,
#html,
#css,
#react,
#redux,
#firebase,
#leaflet,
#nodejs,
#mongodb {
  font-size: 30px;
  filter: drop-shadow(0px 3px 7px rgb(58, 58, 58));
}

#js {
  color: rgb(255, 222, 33);
}
#html {
  color: rgb(226, 109, 0);
}
#css {
  color: #0008ff;
}
#react {
  color: #1a99fa;
}
#redux {
  color: rgb(93, 55, 196);
}
#firebase {
  color: rgb(192, 100, 13);
}
#leaflet {
  color: rgb(84, 119, 32);
}
#nodejs {
  color: green;
}
#mongodb {
  color: #2e5e37;
}

#aaa {
  display: flex;
  justify-content: space-around;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* ===================================================== */
/* HOMEPAGE */

#businesscard {
  display: flex;
  padding: none !important;
  height: 100%;
  overflow-y: scroll;
}
#buscard {
  /* width: 300px; */
}
#page > .container > .row {
  background-color: #fff;
  border-radius: 10px;
  margin: 1rem 0;
  padding: 15px;
}
.general-map {
  padding: 0;
  border-radius: 10px;
  overflow: hidden;
}

.homepage > .row:nth-child(2) > form > div > div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

#page > div > div:nth-child(2) > form > div > div > div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#main-search-btn {
  width: 10rem;
}
#main-search-input {
  width: 16rem;
}
#main-search-input:focus {
  width: 90%;
  transition: width 1.5s 0s ease-in-out;
}

@media only screen and (min-width: 600px) {
  .landing {
    background-color: #4842c9;
    display: flex;
  }

  .landing img {
    height: 300px;
    display: block;
  }

  .landing .row > div:nth-child(1),
  .landing .row > div:nth-child(2),
  .landing .row > div:nth-child(3) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .landing {
    padding: 30px 0;
    background-color: #4842c9;
    display: flex;
    height: 80vh;
  }

  .landing img {
    height: 22em;
    display: block;
  }

  .landing .row > div:nth-child(1),
  .landing .row > div:nth-child(2),
  .landing .row > div:nth-child(3) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .landing h1 {
    margin: 30px 0;
  }

  #btn-landing {
    font-family: "Work Sans", sans-serif !important;
    font-weight: 600 !important;
    margin-bottom: 20px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .landing {
    background-color: #a3a2bb;
  }

  .landing img {
    height: 400px;
    display: block;
  }

  .landing .main-text h1 {
    font-size: 4rem;
  }
  .landing .main-text p {
    font-size: 2.7rem;
  }

  .landing .row > div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .landing .row > div:nth-child(3) {
    left: 0;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200) {
  .navbar-top {
    height: 180px;
  }
  .landing {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #94ce89;
    display: flex;
    height: 70vh;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .landing .description p {
    font-size: 1.2rem;
    padding: 0;
    margin: 0;
  }

  .landing h1 {
    text-align: left;
    font-size: 10vh;
  }

  .landing img {
    height: 550px;
    /* display: block; */
    z-index: 2;
  }

  #btn-landing {
    margin-top: 0 !important;
    z-index: 3;
  }
}

#results-list-container {
  background-color: white;
  padding: 10px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 300px;
  max-height: 50%;
  overflow-y: auto;
}

#results-list-container h4 {
  margin: 0;
  margin-bottom: 10px;
}

#results-list {
  list-style: none;
}

#results-list li {
  margin-bottom: 10px;
}
